// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Navbar gradients
  /*! background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff); */
  /*! background: linear-gradient(-45deg, #f77062, #fe5196); */
  /*background: linear-gradient(-45deg, #ABE9CD, #3EADCF);*/
  /*! background: linear-gradient(45deg, #F1A7F1, #FAD0C4); */
  /*! background: linear-gradient(45deg, #F5E3E6, #D9E4F5); */
  /*! background: linear-gradient(45deg, #96E4DF, #4DCCC6); */
  /*! background: linear-gradient(45deg, #D5D0E5, #F3E6E8); */
  /*! background: linear-gradient(45deg, #A1BAFE, #8D5185); */
  /*! background: linear-gradient(45deg, #F894A4, #F9D1B7); */
  /*! background: linear-gradient(45deg, #DDBDFC, #96C8FB); */
  /*! background: linear-gradient(45deg, #C58E7F, #DFA375); */
  /*! background: linear-gradient(45deg, #BDDCF1, #FDF86D); */
  /*! background: linear-gradient(45deg, #FF9FF3, #D3D3D3); */
  /*! background: linear-gradient(45deg, #F8DE7E, #D99058); */
  /*! background: linear-gradient(45deg, #CBA36D, #E2AC6B); */
  /*! background: linear-gradient(45deg, #F79AD3, #C86FC9); */
  /*! background: linear-gradient(45deg, #FEB9A3, #FEA684); */
  /*! background: linear-gradient(45deg, #FABC3C, #FACC6B); */
  /*! background: linear-gradient(45deg, #FFB4A2, #FFCDB2); */
  /*! background: linear-gradient(45deg, #FCD181, #E79087); */
  /*! background: linear-gradient(-25deg, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%); */
  /*! background: linear-gradient(-45deg, #E0D2C7, #44B09E); */
  /*! background: linear-gradient(45deg, #D7816A, #BD4F6C); */
  /*! background: linear-gradient(45deg, #B279A7, #D387AB); */
  /*background: linear-gradient(45deg, #0294EA, #8BCCC8); // karyaku */
