
.nav-sidebar .nav-header.tight:not(:first-of-type) {
	padding-top: 1.25rem;
}

.nav-sidebar.nav-treeview-lined .nav-treeview {
	padding-left: 0.5rem;
	position: relative;
}
.nav-sidebar.nav-treeview-lined .nav-treeview::before {
	content: "";
	position: absolute;
	top: -0.25rem;
	left: 0.15rem;
	bottom: 0;
	border-left: 0.25rem solid var(--primary);
	border-bottom-left-radius: 0.15rem;
	z-index: -1;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: auto;
	min-height: 175px;
	max-height: 100%;
}

.content-wrapper {
	position: relative;
}

.content-header .content-header-row {
	justify-content: space-between;
}
.content-header .content-header-row > .col {
	width: auto;
	flex: 0 1 auto;
}

.breadcrumb-item {
	word-wrap: break-word;
	word-break: break-word;
}

.content-wrapper .page-title {
	font-size: 1.8rem;
	margin: 0;
	line-height: 1.2;
	font-weight: 400;
}
.content-wrapper .page-sub-title {
	font-size: 1.25rem;
	margin: 0;
	color: var(--secondary);
	font-weight: 400;
}
.content-wrapper .page-title .page-sub-title {
	display: block;
}

.form-check-input {
	/*margin-top: 0.4rem;*/
}

/* Reset the Select2 AdminLTE light theme colors because it's awkward */
.select2-container--default .select2-light.select2-container--focus .select2-selection--multiple,
.select2-light .select2-container--default.select2-container--focus .select2-selection--multiple {
	/*border-color: #ced4da;*/
	border-color: #dde1e5;
}

.mini-app-logo {
	object-fit: cover;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
	border-radius: 50%;
}

.app-detail-panels {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	row-gap: 1rem;
}
.app-detail-panels .side-panel {
	order: 0;
	flex-grow: 1;
}
.app-detail-panels .side-panel.left {
	order: 1;
	margin-right: auto;
}
.app-detail-panels .side-panel.right {
	order: 2;
	margin-left: auto;
}
.app-detail-panels .content-panel {
	order: 3;
	flex-grow: 5;
}
.card-body > .app-detail-panels .side-panel,
.card-body > .app-detail-panels .content-panel {
	/*padding-left: 0;
	padding-right: 0;*/
}
@media (min-width: 768px) {
	.app-detail-panels .side-panel.left {
		order: 1;
		border-right: 1px solid #ddd;
	}
	.app-detail-panels .side-panel.right {
		order: 3;
		border-left: 1px solid #ddd;
	}
	.app-detail-panels .content-panel {
		order: 2;
	}
	.card-body > .app-detail-panels {
		margin-top: -1.25rem;
		margin-bottom: -1.25rem;
	}
	.card-body > .app-detail-panels .side-panel,
	.card-body > .app-detail-panels .content-panel {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}
	.card-body > .app-detail-panels .side-panel > :first-child {
		/*margin-top: -0.5rem;*/
	}
}

.thumb-cards:not(:last-child) {
	margin-bottom: 0.5rem;
}
.thumb-cards {
	font-size: 1rem; /* normally 16px */
	padding-top: 0.25rem;
	padding-left: 0.25rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: start;
	max-width: 100%;
	overflow-x: auto;
}
.thumb-cards > .thumb-item {
	width: 11.25em; /* normally 180px */
	flex-shrink: 0;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}
.thumb-cards > .thumb-item .card {
	margin: 0;
}
.thumb-cards > .thumb-item .card-img-top {
	height: 6em; /* normally 96px */
	line-height: 6em;
	text-align: center;
	padding: 0;
}
.thumb-cards > .thumb-item .card-img-top > img {
	display: inline;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.thumb-cards > .thumb-item .card-body {
	padding: 0.25em 0.5em 0.5em;
}
.thumb-cards > .thumb-item .card-text {
	font-size: 0.9em;
	line-height: 1.2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumb-cards.thumb-cards-sm {
	font-size: 0.75rem;
}
.thumb-cards.thumb-cards-sm > .thumb-item .card-text {
	font-size: 1em;
}

.btn-pop-comment {
	display: inline-block;
	color: var(--softgray);
	font-size: 0.9em;
	transition: all 0.1s;
}
.btn-pop-comment:hover,
.btn-pop-comment:focus {
	color: #777;
	cursor: pointer;
}
.btn-pop-comment.has-comment {
	color: #007bff;
}
.btn-pop-comment.has-comment:hover,
.btn-pop-comment.has-comment:focus {
	color: #0056b3;
}

.media-btn {
	line-height: 1.2;
	text-align: left;
	word-wrap: break-word;
	word-break: break-word;
}
.media-btn .media-icon {
	font-size: 3rem;
	align-self: center;
}
.media-btn .media-icon.top-aligned {
	align-self: flex-start;
	margin-top: 0.25rem;
}
.media-btn .media-icon:first-child {
	margin-right: 0.75rem;
}
.media-btn .media-icon:last-child {
	margin-left: 0.75rem;
}
.media-btn .lead {
	font-weight: 600;
	margin-bottom: 0.25rem;
}
.media-btn .lead + p {
	font-weight: 400;
	margin-bottom: 0.5rem;
}
@media (max-width: 991px) {
	.media-btn .media-icon {
		font-size: 2rem;
	}
}
@media (max-width: 1199px) {
	.media-btn .media-icon {
		font-size: 3rem;
	}
}

.changes-item {
	font-size: 0.9em;
	line-height: 1.2;
}
.changes-item:last-child {
	margin-bottom: 0;
}
.changes-item .changes-title {
	font-size: 1.4em;
}
.changes-item .changes-title .changes-note {
	font-size: 0.6em;
}
.changes-item .changes-timestamp {
	font-size: 0.7em;
	color: #6c757d;
}
.changes-item .field-group {
	margin-bottom: 0.25rem;
}
.changes-item .changes-attributes .title,
.changes-item .changes-relations > .item > .title {
	font-weight: bold;
}
.changes-item .changes-attributes .arrow {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	font-size: 0.85em;
}
.changes-item .changes-attributes .value {
	display: inline-block;
}
.changes-item .changes-attributes .item.long-attribute .comparison .value,
.changes-item .changes-attributes .item.long-attribute .comparison .arrow {
	display: block;
	white-space: pre-line;
}
.changes-item .changes-attributes .comparison,
.changes-item .changes-relations .comparison {
	padding-left: 1rem;
}
.changes-item .changes-relations > .item .comparison {
	display: flex;
	flex-flow: row nowrap;
	/*column-gap: 2em; this might not be supported by the browser, so fallback to using margins*/
}
.changes-item .changes-relations > .item .comparison.logo {
	padding-top: 0.5rem;
	align-items: stretch;
}
.changes-item .changes-relations > .item .comparison.logo > .arrow {
	align-self: center;
}
.changes-item .changes-relations > .item .comparison.logo > .value {
	display: flex;
	align-items: center;
}
.changes-item .changes-relations > .item .comparison.visuals {
	align-items: center;
}
.changes-item .changes-relations > .item .comparison > .side {
	flex: 0 1 auto;
}
.changes-item .changes-relations > .item .comparison > .side:nth-last-child(n+2) {
	margin-right: 2em;
}
.changes-item .changes-relations > .item .comparison .title {
	font-size: 0.85em;
	color: #6c757d; /*secondary*/
}
.changes-item .changes-relations > .item .comparison > .old .title {
	color: #6c757d; /*secondary*/
}
.changes-item .changes-relations > .item .comparison > .new .title {
	color: #007bff; /*primary*/
}
.changes-item .changes-relations > .item .comparison .value {
	display: block;
}
.changes-item .changes-relations > .item .comparison ol.value,
.changes-item .changes-relations > .item .comparison ul.value {
	margin-bottom: 0;
	padding-left: 1rem;
}

.visuals-list > .visuals-item {
	font-size: 1rem;
	line-height: 1.2;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #fff;
}
.visuals-list > *:nth-child(n+2) {
	/*border-top: 1px solid #ddd;*/
}
.visuals-list > .visuals-item .visuals-media {
	width: 6rem;
	height: 6rem;
	margin-right: 1rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.visuals-list > .visuals-item .visuals-handle {
	flex: 0 1 auto;
	/* formula = 3rem - (font-size * line-height / 2) */
	/* 3rem is half of the .visuals-media height */
	margin-top: calc(3rem - (1em * 1 / 2));
	/*margin-top: 2.25rem;*/
	margin-right: 0.75rem;
	padding: 0.25rem;
	text-align: center;
	font-size: 1.2em;
	line-height: 1;
	cursor: move;
	color: var(--lightgray);
}
.visuals-list > .visuals-item .visuals-handle:hover,
.visuals-list > .visuals-item .visuals-handle:focus {
	color: inherit;
}
.visuals-list > .visuals-item.item-deleting .visuals-handle {
	/*cursor: not-allowed;*/
}
.visuals-list > .visuals-item .visuals-head {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 6rem;
	margin-right: 1rem;
}
.visuals-list > .visuals-item .visuals-head .visuals-media {
	margin-right: 0;
}
.visuals-list > .visuals-item .visuals-handle + .visuals-media,
.visuals-list > .visuals-item .visuals-handle + .visuals-head {
	margin-right: 0.75rem;
}
.visuals-list > .visuals-item .visuals-nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.visuals-list > .visuals-item .visuals-nav > .visuals-handle {
	align-self: start;
}
.visuals-list > .visuals-item .visuals-delete {}
.visuals-list > .visuals-item .visuals-nav-additional {
	display: flex;
	flex-flow: column nowrap;
	padding-top: 0.2rem;
}
.visuals-list > .visuals-item .visuals-nav-additional .visuals-delete {
	font-size: 0.8em;
	text-align: center;
}
.visuals-list > .visuals-item .visuals-nav-additional .visuals-delete > input {
	block-size: 1em;
	margin-top: 0.2em;
	margin-left: -1.35em;
}
.visuals-list > .visuals-item .visuals-nav-additional .visuals-delete > input:checked + label {
	font-weight: bold;
}
.visuals-list > .visuals-item .visuals-media > * {
	flex: 1 1 auto;
}
.visuals-list > .visuals-item .visuals-media.image > a {
	width: 100%;
	height: 100%;
	background-color: #eee;
	border: 1px solid #ddd;
}
.visuals-list > .visuals-item .visuals-media.image > a img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.visuals-list > .visuals-item .visuals-media.image.white > a {
	background-color: #fff;
}
.visuals-list > .visuals-item .visuals-body {
	align-self: stretch;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: start;
}
.visuals-list > .visuals-item .visuals-body > * {
	flex: 0 1 auto;
}
.visuals-list > .visuals-item .visuals-body > .visuals-content {
	/*flex-grow: 1;*/
	width: 100%;
}
.visuals-list > .visuals-item .visuals-body > .visuals-title {
	margin-top: 0;
	margin-bottom: 0.125rem;
}
.visuals-list > .visuals-item .visuals-body > .visuals-meta {
	margin-top: auto;
	padding-top: 0.1rem;
	border-top: 1px dotted #999;
	font-size: 0.8em;
	color: #666;
}
.visuals-list > .visuals-item .visuals-body > .visuals-content + .visuals-meta {
	margin-top: 0.5rem;
	width: 100%;
}
.visuals-list > .visuals-item .visuals-body > .visuals-meta:empty {
	display: none;
}
.visuals-list > .visuals-item .visuals-body .input-order {
	display: inline-block;
	margin-left: 0.25rem;
	width: calc(3ch + 0.5rem + 2px);
	height: auto;
	padding: 0.05rem 0.25rem;
	font-size: 0.75rem;
	line-height: 1.5;
	border-radius: 0;
	text-align: center;
	font-family: monospace;
}
.visuals-list > .visuals-item .visuals-body .input-caption {
	font-size: 0.8em;
	max-height: 7em;
}
.visuals-list > .visuals-sortable-placeholder {
	width: 100%;
	height: 8rem;
	padding: 0.75rem;
	background-color: rgba(255, 250, 144, 0.8);
	border: 1px solid rgba(218, 213, 94, 0.8);
	color: #777620 rgba(199, 198, 32, 0.8);
}

.visuals-form .visuals-filepond {
	width: 25rem;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.visuals-form .visuals-filepond .filepond--panel-root {
	/*background: #b3eff9;
	border: 2px solid rgba(255,255,255,0.25);*/
	background: rgba(210,240,240,0.15);
	border: 2px solid #b3eff9;
}
.visuals-form .visuals-filepond .filepond--drop-label {
	color: #333;
}


.app-verifications-form .card:last-child {
	margin-bottom: 0;
}

.verif-list {
	font-size: 1rem;
}
.verif-content .verif-header {
	font-size: 1.1em;
	display: flex;
	flex-flow: row wrap;
	column-gap: 0.75rem;
	align-items: center;
}
.verif-content .btn-tool {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.1rem 0.25rem;
}
.verif-content .verif-metas {
	font-size: 0.9em;
}
.verif-content .verif-body {
	font-size: 1em;
}
.verif-content .verif-body .verif-value-group {
	display: block;
}
.verif-content .verif-body .verif-value-group:nth-child(n+2) {
	margin-top: 0.1rem;
}
.verif-content .verif-body .verif-label {
	font-weight: bold;
	margin-bottom: -0.25rem;
}
.verif-content .verif-body .verif-value {
	display: inline-block;
	white-space: pre-wrap;
	line-height: 1.25;
	vertical-align: text-top;
}
.verif-content .verif-body .verif-pieces {
	display: flex;
	flex-flow: row wrap;
	column-gap: 2em;
	line-height: 1.25;
}
.verif-content .verif-header .icon-text-pair > .icon,
.verif-content .verif-body .icon-text-pair > .icon {
	font-size: 0.8em;
	color: var(--softgray);
}
.verif-conversation {
	display: flex;
	flex-flow: column nowrap;
	padding: 0.75rem 1.25rem;
}
.verif-conversation > .verif-content {
	max-width: 80%;
	word-wrap: break-word;
	word-break: break-word;
	padding: 0.75rem 1.25rem;
	margin-bottom: 0.5rem;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}
.verif-conversation > .verif-content.list-group-item {
	border-bottom: 0;
}
.verif-conversation > .verif-content.left {
	align-self: flex-start;
	margin-left: 1rem;
	border-left-width: 5px;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.verif-conversation > .verif-content.right {
	align-self: flex-end;
	margin-right: 1rem;
	border-right-width: 5px;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.verif-conversation > .verif-content.blue {
	background-color: #e5f2ff;
	border-color: #9ad3ee;
}
.verif-conversation > .verif-content.green {
	background-color: #e6ffd9;
	border-color: #89ca65;
}
.verif-conversation > .verif-content.red {
	background-color: #ffe6e9;
	border-color: #ffacb5;
}
.verif-conversation > .verif-content.yellow {
	background-color: #fff3cd;
	border-color: #f7d30e;
}
.verif-conversation > .verif-content.gray {
	background-color: #e6e8ea;
	border-color: #abaeb0;
}
@media (min-width: 768px) {
	.verif-conversation > .verif-content {
		max-width: 75%;
	}
}
@media (min-width: 992px) {
	.verif-conversation > .verif-content {
		max-width: 70%;
	}
}
@media (min-width: 1200px) {
	.verif-conversation > .verif-content {
		max-width: 60%;
	}
}


.profile-user-img-edit {
	position: absolute;
	bottom: -0.25rem;
	right: -0.75rem;
	font-size: 1rem;
}

.box-copy-info {
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 2rem;
	font-size: 2rem;
	letter-spacing: 1px;
	white-space: pre-wrap;
	user-select: all;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	background-color: #eee;
	color: #111;
	border: 1px solid #ccc;
}

.ofamodal .loading-wrapper .spinners > .spinner-grow {
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}
.ofamodal .loading-wrapper .spinners > .spinner-grow {
	animation-duration: 0.75s;
}
.ofamodal .loading-wrapper .spinners > .spinner-grow:nth-of-type(n+2) {
	animation-delay: 0.15s;
}
.ofamodal .loading-wrapper .spinners > .spinner-grow:nth-of-type(n+3) {
	animation-delay: 0.3s;
}


.table-responsive:last-child > .table:only-child {
	margin-bottom: 0;
}

[data-toggle="buttons"] .btn input.btn-group-input[type="checkbox"],
[data-toggle="buttons"] .btn input.btn-group-input[type="radio"] {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}

.btn[class*="btn-outline-"].focus:not(.disabled):not(:disabled) {
	box-shadow: 0 0 0 4px rgba(0,0,0,0.25);
}

.btn-outline-warning:not(.not-improved):not(:hover) {
	/* Improved visibility for text inside this button */
	color: #aea100;
	/*border-color: #aea100;*/
}

.btn-light.bordered {
	border-color: #adb5bd;
}
.btn-light.bordered:hover, .btn-light.bordered:focus {
	border-color: #6c757d;
}

.btn-tool-inline {
	padding: 0;
	margin: 0;
	border: 0 none;
	font-size: 1em;
	line-height: inherit;
}

.alert:last-child,
:last-child > .alert:only-child {
	margin-bottom: 0;
}
.callout:last-child,
:last-child > .callout:only-child {
	margin-bottom: 0.25rem; /* to show the bottom shadow  */
}

.alert a.btn:not(.btn-link),
.callout a.btn:not(.btn-link) {
	text-decoration: none;
}

.callout + .callout {
	margin-top: -0.75rem;
}

.callout a.btn-tool {
	color: #adb5bd;
}
.callout a.btn-tool:hover {
	color: #495057;
}

.input-group .input-group-prepend .input-group-text.plain,
.input-group .input-group-append .input-group-text.plain {
	background-color: var(--white);
	z-index: 1;
}
.input-group .input-group-prepend .input-group-text.plain {
	border-right-color: var(--white);
}
.input-group .input-group-append .input-group-text.plain {
	border-left-color: var(--white);
}
