
/* Textarea Auto Height */
textarea.auto-height-init,
textarea.auto-height-init-bypass {
	height: auto;
	/*overflow-y: hidden !important;*/
}
textarea.auto-height-init:not(.show-resize),
textarea.auto-height-init-bypass:not(.show-resize) {
	resize: none !important;
}
textarea.auto-height-init-bypass {
	min-height: auto !important;
}

/* END Textarea Auto Height */



/* Textarea Length Indicator */
.textarea-length-container {
	position: relative;
}
.textarea-length-container > textarea {
	width: 100%;
}
.textarea-length-container > .textarea-length {
	position: absolute;
	display: none;
	overflow: hidden;
	font-size: 0.8em;
	text-align: center;
	white-space: nowrap;
	max-width: 50%;
	padding: 0.1em 0.2em;
	color: var(--softgray);
	/*background-color: rgba(255,255,255,0.5);*/
	background-color: #fff;
	border: 1px solid #bbb;
	pointer-events: none;
	transition: all 0.1s;
}
.textarea-length-container > .textarea-length:empty {
	display: none !important;
}
.textarea-length-container > textarea:hover + .textarea-length,
.textarea-length-container > textarea:focus + .textarea-length {
	display: inline-block;
}
.textarea-length-container > textarea:hover + .textarea-length {
	opacity: 0.75;
}
.textarea-length-container > textarea:focus + .textarea-length {
	color: #007bff;
	border-color: #80bdff;
	opacity: 1;
}
.textarea-length-container > textarea:focus + .textarea-length.tlen-progress--half-full {
	color: #d39e00;
	border-color: #ffc107;
}
.textarea-length-container > textarea:focus + .textarea-length.tlen-progress--is-full {
	color: #bd2130;
	border-color: #dc3545;
}
.textarea-length-container.textarea-length-top-right > .textarea-length {
	right: 0.5em;
	bottom: 100%;
	margin-bottom: -1px;
	border-bottom-width: 0;
}
.textarea-length-container.textarea-length-bottom-right > .textarea-length {
	right: 0.5em;
	top: 100%;
	margin-top: -1px;
	border-top-width: 0;
}
.textarea-length-container.textarea-length-top-left > .textarea-length {
	left: 0.5em;
	bottom: 100%;
	margin-bottom: -1px;
	border-bottom-width: 0;
}
.textarea-length-container.textarea-length-bottom-left > .textarea-length {
	left: 0.5em;
	top: 100%;
	margin-top: -1px;
	border-top-width: 0;
}
.textarea-length-container.textarea-length-top-center > .textarea-length {
	left: 50%;
	bottom: 100%;
	margin-bottom: -1px;
	border-bottom-width: 0;
	transform: translateX(-50%);
}
.textarea-length-container.textarea-length-bottom-center > .textarea-length {
	left: 50%;
	top: 100%;
	margin-top: -1px;
	border-top-width: 0;
	transform: translateX(-50%);
}

/* END Textarea Length Indicator */

/* Read More Handles */
.read-more-wrapper {
	display: inline-block;
	position: relative;
	overflow-y: hidden;

	/**
	 * Somehow elements with overflow:hidden interacts weirdly with other inline
	 * elements, i.e as if the vertical-align gets set to something else automatically.
	 * So set this.
	 */
	vertical-align: top;
}
.read-more-wrapper.expanded {
	height: auto !important;
}
.read-more-wrapper.not-visible {
	max-width: 100% !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
}
.read-more-wrapper.with-indicator.collapsed::after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	box-shadow: 0 0 3px rgba(0,123,255,0.5);
}
.read-more-wrapper .read-more-handle {
	display: inline-block;
	font-size: 0.9em;
	/*line-height: 1;*/
	padding: 0.1em 0.25em;
	width: auto;
	cursor: pointer;
	color: #007bff;
	text-decoration: none;
	background-color: #fff;
	box-shadow: 0 1em 1em 1em rgba(255, 255, 255, 0.95);

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}
.read-more-wrapper .read-more-handle.hidden {
	display: none !important;
}
.read-more-wrapper .read-more-handle:hover,
.read-more-wrapper .read-more-handle:focus,
.read-more-wrapper .read-more-handle:active {
	color: #0056b3;
	text-decoration: underline;
}
.read-more-wrapper.collapsed .read-more-handle {
	position: absolute;
	z-index: 2;
	bottom: 2px; /* some space for focus outline styles */
	right: 2px;
}
.read-more-wrapper.collapsed .read-more-handle.centered {
	right: auto;
	left: 50%;
	transform: translateX(-50%);
}
.read-more-wrapper.expanded .read-more-handle {
	position: static;
	display: table; /* forces new line like block, but fits width to its content like inline-block */
	margin-left: 0.25em;
	margin-top: 0.25em;
	background-color: transparent;
	box-shadow: none;
}
/* END Read More Handles */
