
/* Helper classes */
:root {
	--lightgray: #ddd;
	--softgray: #bbb;
}

ul:only-child,
ol:only-child {
	margin-bottom: 0;
}

textarea.form-control {
	/* formula = font-size * line-height + padding-y + border */
	min-height: calc(1em * 1.5 + 0.75rem + 2px);
}
textarea.form-control-sm {
	/* formula = font-size * line-height + padding-y + border */
	min-height: calc(1em * 1.5 + 0.5rem + 2px);
}

.form-control-xs {
	height: calc(1.1875rem + 2px);
	padding: .125rem .25rem;
	font-size: .75rem;
	line-height: 1.25;
	border-radius: .2rem;
}

.alert > p {
	margin-bottom: 0.25rem;
}

p:last-child {
	margin-bottom: 0;
}

.row.gutter-lg {
	/* In AdminLTE the grid gutter got cut to half (7.5px)
	 * which can make some layouts awkward
	 */
	margin-left: -15px;
	margin-right: -15px;
}
.row.gutter-lg > .col,
.row.gutter-lg > [class^="col-"],
.row.gutter-lg > [class *=" col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

.btn-flex-row {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: baseline;
}

.icon-text-pair {
	display: flex;
	align-items: baseline;
	column-gap: 0.35rem;
}
span.icon-text-pair {
	display: inline-flex;
}
.icon-text-pair > .icon {
	color: var(--gray);
}
.icon-text-pair.icon-color-reset > .icon,
.icon-text-pair > .icon.icon-color-reset {
	color: inherit !important;
}
.icon-text-pair.icon-2x {
	align-items: flex-start;
	column-gap: 0.75rem;
}
.icon-text-pair.icon-2x > .icon,
.icon-text-pair > .icon.icon-2x {
	font-size: 2em;
	align-self: flex-start;
	margin-top: 0.25rem;
	margin-right: 0; /* decided by gap property */
}

.flash-element, [class*="flash-element-"],
.flash-element > td, [class*="flash-element-"] > td {
	animation: flash-element 2s linear 0.25s;
	animation-fill-mode: forwards;
}
.flash-element {
	box-shadow: 0 0 0 0.5rem rgba(255, 152, 26, 0.9);
}
.flash-element,
.flash-element > td {
	background-color: rgba(255, 152, 26, 0.9);
}
.flash-element-blue {
	box-shadow: 0 0 0 0.5rem rgba(153, 203, 255, 0.9);
}
.flash-element-blue,
.flash-element-blue > td {
	background-color: rgba(153, 203, 255, 0.9);
}

@keyframes flash-element {
	to {
		background-color: transparent;
		box-shadow: 0 0 0 0.5rem transparent;
	}
}

.badge-soft {
	font-size: 0.9em;
	font-weight: normal;
}

.tooltip-wider .tooltip-inner {
	/* usually 200px */
	max-width: 300px;
}
.popover-wider {
	/* usually 276px */
	max-width: 400px;
}

.absolute-centered {
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
}
.absolute-centered-x {
	left: 50% !important;
	transform: translateX(-50%);
}
.absolute-centered-y {
	top: 50% !important;
	transform: translateY(-50%);
}



.text-bold { font-weight: bold !important; }
.text-unbold { font-weight: normal !important; }
.text-italic { font-style: italic !important; }
.text-unitalic { font-style: normal !important; }

.w-100 { width: 100%; }
.maxw-100 { max-width: 100%; }
.minw-100 { min-width: 100%; }
.h-100 { height: 100%; }
.maxh-100 { max-height: 100%; }
.minh-100 { min-height: 100%; }

.btn-min-100 { min-width: 100px; }

.z-index-1 { z-index: 1; }
.z-index-2 { z-index: 2; }

.text-pre-line { white-space: pre-line !important; }
.text-pre-wrap { white-space: pre-wrap !important; }
.text-wrap-word {
	word-wrap: break-word !important;
	word-break: break-word !important;
}

.text-300 { font-size: 300% !important; }
.text-250 { font-size: 250% !important; }
.text-200 { font-size: 200% !important; }
.text-150 { font-size: 150% !important; }
.text-140 { font-size: 140% !important; }
.text-130 { font-size: 130% !important; }
.text-120 { font-size: 120% !important; }
.text-110 { font-size: 110% !important; }
.text-100 { font-size: 100% !important; }
.text-090 { font-size: 90% !important; }
.text-085 { font-size: 85% !important; }
.text-080 { font-size: 80% !important; }
.text-075 { font-size: 75% !important; }
.text-070 { font-size: 70% !important; }
.text-065 { font-size: 65% !important; }
.text-060 { font-size: 60% !important; }
.text-055 { font-size: 55% !important; }
.text-050 { font-size: 50% !important; }

.text-r300 { font-size: 3.0rem !important; }
.text-r250 { font-size: 2.5rem !important; }
.text-r200 { font-size: 2.0rem !important; }
.text-r150 { font-size: 1.5rem !important; }
.text-r140 { font-size: 1.4rem !important; }
.text-r130 { font-size: 1.3rem !important; }
.text-r120 { font-size: 1.2rem !important; }
.text-r110 { font-size: 1.1rem !important; }
.text-r100 { font-size: 1.0rem !important; }
.text-r090 { font-size: 0.9rem !important; }
.text-r085 { font-size: 0.8rem !important; }
.text-r080 { font-size: 0.8rem !important; }
.text-r075 { font-size: 0.75rem !important; }
.text-r070 { font-size: 0.7rem !important; }
.text-r065 { font-size: 0.65rem !important; }
.text-r060 { font-size: 0.6rem !important; }
.text-r055 { font-size: 0.55rem !important; }
.text-r050 { font-size: 0.5rem !important; }

.text-select-none { user-select: none !important; }
.text-select-auto { user-select: auto !important; }
.text-select-text { user-select: text !important; }
.text-select-contain { user-select: contain !important; }
.text-select-all { user-select: all !important; }

.form-check.checkbox-lg {
	padding-left: 1.5rem;
}
input.checkbox-lg, .form-check.checkbox-lg .form-check-input {
	width: 17px;
	height: 17px;
}
.form-check.checkbox-lg .form-check-input {
	margin-left: -1.5rem;
}
.form-check.checkbox-xl {
	padding-left: 1.75rem;
}
input.checkbox-xl, .form-check.checkbox-xl .form-check-input {
	width: 20px;
	height: 20px;
}
.form-check.checkbox-xl .form-check-input {
	margin-left: -1.75rem;
}

.valign-top,
.valign-top th,
.valign-top td {
	vertical-align: top;
}

.valign-middle,
.valign-middle th,
.valign-middle td {
	vertical-align: middle;
}

.valign-bottom,
.valign-bottom th,
.valign-bottom td {
	vertical-align: bottom;
}

.lh-150 { line-height: 1.5 !important; }
.lh-140 { line-height: 1.4 !important; }
.lh-130 { line-height: 1.3 !important; }
.lh-125 { line-height: 1.25 !important; }
.lh-120 { line-height: 1.2 !important; }
.lh-110 { line-height: 1.1 !important; }
.lh-100 { line-height: 1 !important; }

.text-light-gray { color: var(--lightgray) !important; }

.ofx-auto { overflow-x: auto !important; }
.ofy-auto { overflow-y: auto !important; }

.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }

.pointer-none { pointer-events: none !important; }

