/*! background-image: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff); */
/*! background-image: linear-gradient(-45deg, #f77062, #fe5196); */
/*background-image: linear-gradient(-45deg, #7BD2AB, #3EADCF);*/
/*! background-image: linear-gradient(45deg, #F1A7F1, #FAD0C4); */
/*! background-image: linear-gradient(45deg, #F5E3E6, #D9E4F5); */
/*! background-image: linear-gradient(45deg, #96E4DF, #4DCCC6); */
/*! background-image: linear-gradient(45deg, #D5D0E5, #F3E6E8); */
/*! background-image: linear-gradient(45deg, #A1BAFE, #8D5185); */
/*! background-image: linear-gradient(45deg, #F894A4, #F9D1B7); */
/*! background-image: linear-gradient(45deg, #DDBDFC, #96C8FB); */
/*! background-image: linear-gradient(45deg, #C58E7F, #DFA375); */
/*! background-image: linear-gradient(45deg, #BDDCF1, #FDF86D); */
/*! background-image: linear-gradient(45deg, #FF9FF3, #D3D3D3); */
/*! background-image: linear-gradient(45deg, #F8DE7E, #D99058); */
/*! background-image: linear-gradient(45deg, #CBA36D, #E2AC6B); */
/*! background-image: linear-gradient(45deg, #F79AD3, #C86FC9); */
/*! background-image: linear-gradient(45deg, #FEB9A3, #FEA684); */
/*! background-image: linear-gradient(45deg, #FABC3C, #FACC6B); */
/*! background-image: linear-gradient(45deg, #FFB4A2, #FFCDB2); */
/*! background-image: linear-gradient(45deg, #FCD181, #E79087); */
/*! background-image: linear-gradient(-25deg, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%); */
/*! background-image: linear-gradient(-45deg, #E0D2C7, #44B09E); */
/*! background-image: linear-gradient(45deg, #D7816A, #BD4F6C); */
/*! background-image: linear-gradient(45deg, #B279A7, #D387AB); */
/*background-image: linear-gradient(45deg, #0294EA, #8BCCC8); // karyaku */
/*background-image: linear-gradient(45deg, #16222a, #3a6073);*/
/* background-image: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff); */
/* background-image: linear-gradient(-45deg, #f77062, #fe5196); */
/* background-image: linear-gradient(-45deg, #7BD2AB, #3EADCF); */
/* background-image: linear-gradient(45deg, #F1A7F1, #FAD0C4); */
/* background-image: linear-gradient(45deg, #F5E3E6, #D9E4F5); */
/* background-image: linear-gradient(45deg, #D5D0E5, #F3E6E8); */
/* background-image: linear-gradient(45deg, #A1BAFE, #8D5185); */
/* background-image: linear-gradient(45deg, #F894A4, #F9D1B7); */
/* background-image: linear-gradient(45deg, #DDBDFC, #96C8FB); */
/* background-image: linear-gradient(45deg, #C58E7F, #DFA375); */
/* background-image: linear-gradient(45deg, #BDDCF1, #FDF86D); */
/* background-image: linear-gradient(45deg, #FF9FF3, #D3D3D3); */
/* background-image: linear-gradient(45deg, #F8DE7E, #D99058); */
/* background-image: linear-gradient(45deg, #CBA36D, #E2AC6B); */
/* background-image: linear-gradient(45deg, #F79AD3, #C86FC9); */
/* background-image: linear-gradient(45deg, #FEB9A3, #FEA684); */
/* background-image: linear-gradient(45deg, #FABC3C, #FACC6B); */
/* background-image: linear-gradient(45deg, #FFB4A2, #FFCDB2); */
/* background-image: linear-gradient(45deg, #FCD181, #E79087); */
/* background-image: linear-gradient(-25deg, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%); */
/* background-image: linear-gradient(-45deg, #E0D2C7, #44B09E); */
/* background-image: linear-gradient(45deg, #D7816A, #BD4F6C); */
/* background-image: linear-gradient(45deg, #B279A7, #D387AB); */
/* background-image: linear-gradient(45deg, #a88beb, #f8ceec); */
/* background-image: linear-gradient(45deg, #16222a, #3a6073); */
/* background-image: linear-gradient(to right, #4cb8c4, #3cd3ad); */
/* background-image: linear-gradient(to left, #aa076b, #61045f); */
/* background-image: linear-gradient(to right, #314755, #26a0da); */
/* background-image: linear-gradient(to right, #1488cc, #2b32b2); */
/* background-image: linear-gradient(to right, #536976, #292e49); */
/* background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
/* background-image: linear-gradient(to right, #8e2de2, #4a00e0); */
/* background-image: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); */
/* background-image: linear-gradient(to right, #00b4db, #0083b0); */
/* background-image: linear-gradient(to left, #ad5389, #3c1053); */
/* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
/* background-image: linear-gradient(to right, #74ebd5, #acb6e5); */
/* background-image: linear-gradient(to left, #396afc, #2948ff); */
/* background-image: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6); */
/* background-image: linear-gradient(to right, #06beb6, #48b1bf); */
/* background-image: linear-gradient(to right, #642b73, #c6426e); */
/* background-image: linear-gradient(to left, #36d1dc, #5b86e5); */
/* background-image: linear-gradient(to right, #4ac29a, #bdfff3); */
/* background-image: linear-gradient(to right, #6190e8, #a7bfe8); */
/* background-image: linear-gradient(to right, #000428, #004e92); */
/* background-image: linear-gradient(to right, #141e30, #243b55); */
/* background-image: linear-gradient(to right, #2c3e50, #4ca1af); */
/* background-image: linear-gradient(to right, #4ca1af, #c4e0e5); */
/* background-image: linear-gradient(to left, #4b79a1, #283e51); */
/* background-image: linear-gradient(to right, #1e3c72, #2a5298); */
/* background-image: linear-gradient(to right, #eacda3, #d6ae7b); */
/* background-image: linear-gradient(to right, #457fca, #5691c8); */
/* background-image: linear-gradient(to right, #b24592, #f15f79); */
/* background-image: linear-gradient(to right, #76b852, #8dc26f); */
/* background-image: linear-gradient(to left, #005c97, #363795); */
/* background-image: linear-gradient(to right, #e53935, #e35d5b); */
/* background-image: linear-gradient(to right, #ee9ca7, #ffdde1); */
/* background-image: linear-gradient(to right, #136a8a, #267871); */
.login-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 3rem 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  .login-container {
    padding: 2rem;
  }
}
@media (max-width: 767.98px) {
  .login-container {
    padding: 1rem;
  }
}

.login-box {
  font-size: 0.875rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: auto;
  padding: 1.25em 1.5em;
  align-items: stretch;
  position: relative;
  background: #fff;
  border: 1px solid #adb5bd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  width: 400px;
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .login-box {
    width: 320px;
  }
}

.login-header {
  margin-bottom: 1rem;
  text-align: center;
}
.login-header .logo {
  display: block;
  margin: 1.25rem auto;
  max-width: 75%;
  max-height: 100px;
}
@media (max-width: 767.98px) {
  .login-header .logo {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    max-width: 150px;
    max-height: 100px;
  }
}

.login-footer {
  margin-top: 1.5rem;
  margin-bottom: -0.25rem;
  padding: 0;
  font-size: 0.75rem;
  text-align: center;
}
.login-footer .login-footer-links {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  line-height: 1.2;
}
.login-footer .login-footer-links > li {
  position: relative;
  display: inline-block;
}
.login-footer .login-footer-links > li:nth-child(n+2) {
  margin-left: 0.5rem;
}
.login-footer .login-footer-links > li:nth-child(n+2)::before {
  content: "|";
  text-align: center;
  pointer-events: none;
  position: absolute;
  left: calc(-0.5rem - 1px);
}
.login-footer .login-footer-links > li:nth-last-child(n+2) {
  margin-right: 0.5rem;
}

.login-form {
  text-align: center;
}
.login-form .form-group {
  margin-bottom: 0.75rem;
}

.login-form-control {
  text-align: center;
  width: 100%;
  height: 2.5rem;
  min-width: 6rem;
  min-height: none;
  padding: 0.1875rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  background: rgba(192, 192, 192, 0.15);
  color: black;
  border: 1px solid #adb5bd;
  outline: none;
  border-radius: 0;
  transition: 0.15s all;
}
.login-form-control:hover, .login-form-control:focus, .login-form-control:active {
  background: rgba(192, 192, 192, 0.4);
  color: #000;
}
.login-form-control:focus, .login-form-control:active {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.btn-login {
  display: inline-block;
  min-width: 100px;
  padding: 0.5rem 1rem;
  background-color: #495057;
  border: 1px solid #343a40;
  border-radius: 0;
  color: #f8f9fa;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
  transition: all 0.15s;
}
.btn-login:hover, .btn-login:focus, .btn-login:active {
  background-color: #343a40;
  border-color: #212529;
  color: #fff;
  outline: none;
}
.btn-login:focus, .btn-login:active {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
}